<h1>Places</h1>

<div class = "mb-3 ms-3">
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</div>

<p>
  <a href="/places/new">New place</a>
</p>